<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Postal address:</strong>
  <%= @company.postal_address %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @company.telephone_number %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
